<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <ul th:fragment="contextMenuFragment">
            <li class="waiting-type-menu">
                접수상태변경
                <ul class="submenu">
                    <li>대기중</li>
                    <li>진료중</li>
                    <li>진료완료</li>
                    <li>검사대기</li>
                    <li>검사중</li>
                    <li>접수취소</li>
                </ul>
            </li>

            <li class="waiting-type-menu">
                접수종류변경
                <ul class="submenu">
                    <li>일반진료</li>
                    <li>전문진료</li>
                    <li>입원진료</li>
                    <li>응급진료</li>
                    <li>외래진료</li>
                    <li>재활진료</li>
                </ul>
            </li>
        </ul>
    </div>

</body>
</html>