@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
/* pretendard 폰트 cdn */

/* 기본 설정 */
html, body {
    margin: 0; padding: 0;
    background-color: white;
    font-family: 'Pretendard' , 'sans-serif';
    box-sizing: border-box;
    background-color: black;
    min-width: 1900px;
    height: 1000px;
    /* background-color: black; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

/* 버튼 기본양식 */
.btn , .btn2 , .btn3 , .btn4 {
    display: block;
    border-radius: 10px;
    border: 0;
    width: 82px; height: 24px;
    background-color: #444343;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}


.off {
    background-color: #909090;
}


#wrap {
    display: flex;
    min-height: 100%;
    background-color: #e8edf6;
}

#header-main-wrap {
    width: 1650px;
    min-height: 100%;
}

aside {
    /* display: block; */
    border-right: 1px solid #444343;
    min-width: 250px;
    background-color: #5D78D8;
}

header {
    min-width: 1650px;
    height: 50px;
    background-color: #5B9FFF;
    border-bottom: 1px solid #444343;
}

main {
    /* border: 1px solid black; */
    min-width: 1650px;
    height: 100vh;

}

/* aside */
/* 위치, 담당자 이름 */
#name-box {
    text-indent: 10px;
    color: white;
    /* border: 1px solid black; */
}

#name-box > h3 > span {
    color: black;
    font-size: 20px;
}

/* 진료대기, 진료완료 */
aside > div:nth-child(3) {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    height: 60px;
}

aside > div:nth-child(3) > div {
    /* border: 1px solid red; */
    text-align: center;
    color: white;
}

/* aside > div:nth-child(3) > div > button {
    display: block;
    border-radius: 10px;
    border: 0;
    width: 82px; height: 24px;
    background-color: #909090;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
} */

aside > div:nth-child(3) > div > span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    /* border: 1px solid black; */
}

/* 진료대기자 또는 진료완료 인원 목록 */


#waiting-list {
    /* border: 1px solid black; */
    /*min-height: 560px;*/
}

.name-card {
    background-color: white;
    border-radius: 10px;
    width: 228px;
    margin-left: 10px;
    /*height: 125px;*/
    height: 100px;
    margin-top: 20px;
}
/* 이름 , 호출 버튼 */
.name-card > div:first-child {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.name-card > div:first-child > span {
    display: block;
    font-size: 18px; font-weight: bold;
    /* border: 1px solid black; */
}

.name-card > div:first-child > button {
    background-color: #569EC7;
}

.btn3 {background: #B7B7B7 !important;}
.btn4 {background: #279B33 !important;}


/* 인적사항 */
.name-card > div:nth-child(2) {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px; 
}

/* 접수시간 */
.name-card > div:nth-child(3) {
    /* border: 1px solid black; */
    /*padding-left: 24px;*/
    display: flex;
    justify-content: space-around;
}

.name-card > div:nth-child(3) > span:last-child ,
.name-card > div:nth-child(4) > span {
    color: #0a58ca;
}



.name-card > div:nth-child(2) ,
.name-card > div:nth-child(3) ,
.name-card > div:nth-child(4)  {
    font-size: 15px; font-weight: bold;
}

.name-card > div:nth-child(4) {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 5px;
}
.name-card > div:nth-child(4) > input {
    border: none;
    border-bottom: 1px solid black; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.name-card > div:nth-child(4) > input:focus {
    outline: none;
}

/* header */
/* 검색창, 검색버튼 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:first-child {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red;  */
    margin-left: 20px;
    min-width: 450px;
}

header > div:first-child > div:last-child {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

header > div:first-child > div:last-child > button {
    margin-left: 10px; 
    
}

#search-box {
    /* border: 1px solid black; */
    display: flex;
}

#search-box > div > input {
    width: 282px; height: 24px;
    font-size: 20px;
}

#search-btn {
    cursor: pointer;
}

/* 로그아웃 버튼 */
header > div:last-child {
    /* border: 1px solid red; */
    margin-right: 30px;
}

/* main */
/* 레이아웃 정리 */
main {
    display: flex;
}

section {
    /* border: 1px solid black; */
    width: 50%;
}

#left-section > article ,
#right-section > article {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 31px; margin-top: 20px;
    width: 761px;
    background-color: white;
}



#patient-article {
    height: 261px;
}

#diagnosis-article {
    height: 610px;
}

/* 환자 정보 */
#patient-article > form {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin-top: 15px;
    padding-left: 20px;
}

#patient-article > form > div {
    margin-top: 10px;
}

#patient-article > form > div > label {
    font-weight: bold;
}

#patient-article > form > div > label:not(:first-child) {
    /* border: 1px solid red; */
    /*margin-left: 20px;*/
}

#patient-article > form > div > input {
    text-align: center;
}
/* 환자정보 등록, 수정 버튼 */
#patient-modify-btn, #patient-btn {
    display: inline-block;
    margin-left: 200px;
}

#patient-update-btn {
    margin-left: 100px;
    display: none;
}

#patient-cancel-btn {
    margin-left: 15px;
    display: none;
    background: #9B2727;
    color: white;
}

#patient-modify-btn {
    display: none;
}

#post-search-btn {
    display: inline-block;
    margin-left: 30px;
}

/* 환자 바이탈 정보 테이블 */
#vital-sign-btn-box {
    display: flex;
    margin-right: 10px;
}

#vital-sign-add-btn {
    margin-right: 10px;
    display: none;
}

#vital-sign-modify-btn {
    display: none;
    background-color: #569EC7;
    color: white;
}

#vital-sign-update-btn {
    display: none;
    margin-right: 10px;
}

#vital-sign-cancel-btn {
    display: none;
    background: #9B2727;
    color: white;
    margin-left: 10px;
}

#vital-sign-table {
    margin-top: 10px;
    width: 700px;
    text-align: center;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

#patient-article > form > table > tbody > tr > td {
    height: 24px;
}

#patient-article > form > table > tbody > tr > td > input {
    border: none;
    text-align: center;
}
#patient-article > form > table > tbody > tr > td > input:focus {
    outline: none;
    border-bottom: 2px solid blue;
}

#patient-article > form > hr {

    border: 1px dashed;
    margin: 0; padding: 0;
    margin-top: 10px;
    margin-right: 20px;
}

th {
    background-color: #D9D9D9;
    border-top: 1px dashed black;
}

th , td {
    border: 1px solid black;
}

#patient-article > form > div:last-child {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

#patient-article > form > div:last-child > button {
    margin-right: 15px;
}



/* 환자 바이탈 정보 테이블 페이징 , 접수대기 페이징 */
#vital-sign-paging , #waiting-paging {
    margin: 0; padding: 0;
    padding-right: 10px;
    list-style: none;
    display: none;
}

#waiting-paging {
    display: flex;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
}

#vital-sign-paging > li , #waiting-paging > li {
    margin-right: 15px;
    cursor: pointer;
}


#vital-sign-paging > li > a  , #waiting-paging > li > a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#vital-sign-paging > li > a:visited , #waiting-paging > li > a:visited {
    color: black;
}

.active {
    color: blue !important;
    text-decoration: underline !important;
}

/* 진료기록 박스 레이아웃 설정*/
#diagnosis-article {
    display: flex;
}

#diagnosis-article > nav {
    /* border: 1px solid black; */
    width: 149px;
    height: inherit;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #D9D9D9;
}

#diagnosis-record-list {
    padding: 0; margin: 0;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    height: 411px;
    display: none;
}

/* 진료기록 박스 네비(왼쪽바) */
#diagnosis-record-list > li {
    display: block;
    border: 1px solid black;
    width: 108px;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

/*#diagnosis-record-list > li > a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

#diagnosis-record-list > li:first-child > select {
    border: none;
    width: 100%;
}

#diagnosis-record-list > li:first-child > select:focus {
    outline: none;
}

#diagnosis-record-list > li > a:visited {
    color: black;
}

#diagnosis-record-list > li:not(:first-child) {
    margin-top: 5px;
}

#diagnosis-record-paging {
    list-style: none;
    margin: 0; padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#diagnosis-record-paging > li {
    cursor: pointer;
}

#past-box {
    height: 610px;
    overflow-y: scroll;
}

#past-box::-webkit-scrollbar {
    display: none;
}

.pre-pay-box {
    display: none;
}

.pre-pay-box > h4 {
    margin-block: 10px;
}

#past-box {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

#past-pay {
    margin-left: 15px;
    border: 1px solid rgb(122, 122, 122);
    width: 578px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* 진료기록 우측 입력창 */
#diagnosis-article > div {
    /* border: 1px solid red; */
    width: 612px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#diagnosis-article > div:nth-child(2) > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#diagnosis-article > div:nth-child(2) > div:first-child > h3 {
    /* border: 1px solid black; */
    text-indent: 10px;
}

#diagnosis-article > div:nth-child(2) > div:first-child > h3 > span ,
#right-section > article > div:first-child > h3 > span {
    color: #5B9FFF;
}

#diagnosis-article > div:nth-child(2) > div:first-child > button {
    margin-right: 20px;
}

.pre-diagnosis-box {
    display: none;
}

.pre-diagnosis-box > h4 {
    margin-block: 10px;
}

#past-title-box {
    height: 50px;
}

#diagnosis-title span {
    display: none;
}

#past-modify-box {
    display: none;
    margin: 0;
    margin-top: 5px; margin-right: 15px;
    text-align: right;
}


.textarea-box > h4 {
    text-indent: 15px;
}

.textarea-box > textarea {
    width: 572px; height: 90px;
    margin-left: 15px;
    resize: none;
    text-align: start;
}

/* 우측 진료기록 작성칸 */
#right-section > article {
    height: 891px;
    overflow-y: scroll;
}


/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
#right-article::-webkit-scrollbar {
    display: none;
}

#right-article  {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.mt {
    margin-top: 17px;
}

/*.prescriptionBox > #pills,*/
/*.kcds ,#file-drag-box {*/
/*    overflow-y: scroll;*/
/*    -ms-overflow-style: scrollbar; !* 인터넷 익스플로러 *!*/
/*    scrollbar-width: auto; !* 파이어폭스 *!*/
/*}*/

/*.prescriptionBox > #pills::-webkit-scrollbar,*/
/*.kcds::-webkit-scrollbar ,*/
/*#file-drag-box::-webkit-scrollbar {*/
/*    display: block;*/
/*}*/

/* 진료기록 작성칸 상단 회색바 */
#right-section > article > div:first-child {
    /* border: 1px solid black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D9D9D9;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: 20px;
}

/*#right-section > article > div {*/
/*     border: 1px solid black; */
/*}*/

/*#right-section > article > div:nth-child(3) {*/
/*    margin-top: 20px;*/
/*}*/

#right-section > article > div:nth-child(3) > div  {
    /*border-top: 1px dashed black;*/
}

.big > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big > div > h4 {
    margin-left: 40px;
}

.big > div > button {
    margin-right: 30px;
}

.big > textarea {
    width: 675px; height: 135px;
    margin-left: 43px;
}

/* 우측 진료 칸*/
#diagnosisBox {
    margin-left: 45px;
    display: flex;
    justify-content: normal;
}

#diagnosis-record {
    width: 360px;
    resize: none;
    text-align: start;
    height: 135px;
}

#no-kcd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 139px;
}

.kcds {
    width: 315px;
    height: 139px;
    border: 1px solid #807d7d;
    overflow-y: scroll;
}

#kcdsSearchBtn {
    font-size: small;
}

.kcd {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: small;
    width: 298px;
    border-bottom: 1px solid #7b7a7a;
}

.kcd > li {
    border-left: 1px solid #7b7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px; width: 50px;
    box-sizing: border-box;
}

.kcd > li:nth-child(1){
    font-weight: bold;
    border: 0;
}

.kcd > li:nth-child(2) {
    /*border: 1px solid #9B2727;*/
    width: 170px;
    display: block;
    overflow-x: hidden;
}

.kcd > li:nth-child(3) {
    width: 50px;
}

.read-kcd {
    width: 60px !important;
}

.kcd > li:nth-child(3) > select {
    width: 50px;
    border: 0;
}

.kcd > li:nth-child(3) > select:focus {
    outline: 0;
    border: 0;
}

.kcd > li:nth-child(4){
    width: 30px;
    color: #9B2727;
    font-weight: bold;
    cursor: pointer;
}

#pay {
    border: 1px solid rgb(122, 122, 122);
    width: 681px;
    height: 135px;
    margin-left: 43px;
}

#feeSearch{
    display: none;
}




/*#right-section > article > div:last-child {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    !* border: 1px solid red; *!*/
/*    margin-top: 10px;*/
/*}*/

/*#right-section > article > div:last-child > button {*/
/*    margin-right: 30px;*/
/*    background-color: #9B2727;*/
/*}*/

/*우클릭 메뉴 css 설정*/
#custom-context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background:  white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#custom-context-menu > ul {
    text-align: center;
    list-style: none;
    position: relative;
    width: 120px;
    margin: 0; padding: 0;
    padding-block: 5px;
    cursor: pointer;
}

#custom-context-menu > ul > li:hover , .submenu > li:hover {
    background-color: #5B9FFF;
    color: white;
    font-weight: bold;
}

.submenu {
    display: none;
    margin: 0; padding: 0;
    list-style: none;
    text-align: center;
    /*border: 1px solid black;*/
    position: absolute;
    width: 100px;
    left: 120px;
    top: -1px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background: white;
    color: black;
}

/**호출 버튼 클릭시, 진료중 버튼 설정**/
.btn2 {
    background-color: #3eb97b !important
}

/**진료기록 없음 설정**/
#no-record-diagnosis {
    display: flex;
    justify-content: center;
    height: 500px;
    text-align: center;
    align-items: center;
    font-size: x-large;
}

#pre-symptoms-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

#pre-symptoms-box > h4 {
    margin-left: 15px;
}

#pre-diagnosis-box {
    display: flex;
}

#pre-kcds , #pre-pills {
    width: 290px;
    height: 94px;
    border: 1px solid #807d7d;
    overflow-y: scroll;
}

.pre-kcd {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: small;
    border-bottom: 1px solid #7b7a7a;
}

.pre-kcd > li {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #7b7a7a;
}

.pre-kcd > li:nth-child(1) {
    width: 40px;
    font-weight: bold;
}

.pre-kcd > li:nth-child(2){
    display: block;
    overflow-x: hidden;
    width: 182px;
}

.pre-kcd > li:nth-child(3) {
    width: 45px;
    border-right: 0;
    font-weight: bold;
}

/*.pre-kcd > li:nth-child(3) > select {*/
/*    border: 0;*/
/*    background: white;*/
/*    font-size: smaller;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

#diagnosis-past-record {
    margin-left: 15px;
}

#diagnosis-past-record , #prescription-past-record {
    height: 90px;
    width: 279px;
    resize: none;
}


#pre-prescription-box {
    display: flex;
}

#no-pre-pills , #no-pre-files , #no-pre-kcds {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#pre-pills {
    margin-left: 15px;
}

/*담당의*/
#attending-doctor-box {
    display: none;
    justify-content: right;
    padding-inline: 20px;
    padding-block: 5px;
    color: black;
    font-size: medium;
    font-weight: bold;
}

#past-diagnosis-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

#past-diagnosis-btn-box > span {
    display: none;
    cursor: pointer;
}

#past-diagnosis-btn-box > span:hover {
    color: #5b9fff;
}

.diagnosis-modify-btn ,
.diagnosis-delete-btn {
    display: none;
    margin-right: 10px;
}

#pre-pills {

}

.pre-pill {
    list-style: none;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 273px;
    height: 30px;
    display: flex;
}
.pre-pill > li {
    border: 1px solid #ccc;
    width: 25px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.pre-pill > li:nth-child(2) {
    display: block;
    width: 225px;
    font-size: 13px;
    overflow-x: hidden;
    text-align: left;
}

.pre-pill input {
    display: block;
    width: 100%;
    height: 100%;
}

#pre-files-box {
    display: none;
    width: 578px;
    margin-left: 15px;
    margin-bottom: 25px;
}

#pre-files-box > h4 {
    margin-block: 10px;
}

#pre-files {
    height: 80px;
    /*margin-left: 15px;*/
    width: 578px;
    border: 1px solid rgb(122, 122, 122);
    overflow-y: auto;
}

.pre-file {
    padding: 0; margin: 0;
    display: flex;
    list-style: none;
    border-bottom: 1px solid #807d7d;
}

.pre-file > li {
    /*border: 1px solid black;*/
    height: 23px;
}

.pre-file > li:nth-child(1) {
    width: 60px;
}

.pre-file > li:nth-child(1) > a {
    display: block;
    width: inherit; height: inherit;
}

.pre-file > li:nth-child(1) > a > i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.pre-file > li:nth-child(1) > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pre-file > li:nth-child(2) {
    width: 460px;
    display: flex;
    align-items: center;
}

.pre-file > li:nth-child(2) > span:first-child {
    display: block;
    width: 380px;
    height: 23px;
    /*border: 1px solid black;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pre-file > li:nth-child(2) > span:last-child {
    height: 23px;
    width: 80px;
    text-align: right;
}

.pre-file > li:nth-child(3) {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-file > li:nth-child(3) > a {
    cursor: pointer;
}




    /*#diagnosis-photo-box {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    padding-left: 15px;*/
/*}*/

/*#diagnosis-photo-box > div {*/
/*    width: 50px; height: 50px;*/
/*    border: 1px solid #ccc;*/
/*    cursor: pointer;*/
/*}*/

/*우측 진료기록 작성의 증상 옆 버튼 박스*/
#diagnosis-btn-box {
    display: flex;
    margin-right: 38px;
}

/*우측 진료기록 작성의 증상 옆 버튼 설정 */
#diagnosis-delete-btn,
#diagnosis-modify-btn,
#diagnosis-cancel-btn,
#diagnosis-create-btn {
    display: none;
}

#diagnosis-modify-btn , #diagnosis-create-btn {
    margin-right: 10px;
}
#diagnosis-delete-btn , .diagnosis-delete-btn{
    background-color: #9B2727;
}

/*진료기록 작성 옆 구분자, 성명 설정*/
/*#diagnosis-write-title > span:nth-child(2) ,*/
/*#diagnosis-write-title > span:nth-child(3) {*/
/*    display: none;*/
/*}*/

/* 의약품 검색 버튼 */
#medicineSearchBtn {
    display: none;
}
/* 상병 검색 버튼 */
#kcdsSearchBtn {
    display: none;
}

#diagnosis-write-sub-title {
    display: none;
    margin-right: 15px;
}

#file-box {
    /*border: 1px solid black;*/
    margin-bottom: 50px;
}

#file-read {
    display: none;
}

/*진료기록 파일등록창*/
#file-box > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 38px;
    margin-top: 15px;
}

.file-label {
    font-weight: normal;
    display: none;
    align-items: center;
    justify-content: center;
}

#file-drag-box {
    margin-left: 48px;
    width: 681px;
    height: 130px;
    max-height: 130px;
    border: 1px solid rgb(122, 122, 122);
    text-align: center;
    overflow-y: auto;
}

.highlight {
    border: 2px dashed #0a58ca !important;
}

#file-drag-box > i {
    padding-top: 50px;
}
#file-drag-box > p , #file-drag-box > i {
    /*display: none;*/
}

#no-files {
    display: none;
    margin-top: 50px;
    font-weight: bold;
}

#file-box ul {
    list-style: none;
    margin: 0;
}

.file {
    display: flex;
    border-bottom: 1px solid #ccc;
}

#file-upload {
    display: none;
}

#files {
    /*border: 1px solid red;*/
}

#files > a , #pre-files a {
    text-decoration: none;
    color: #0a58ca;
}

.thumbnail {
    display: flex;
    justify-content: center;
    flex: none;
    width: 100px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
    height: 30px;
}

.thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.file-info {
    display: flex;
    justify-content: space-between;
    width: 525px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.file-info > .name {
    max-width: 420px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #9B2727;
    font-weight: bold;
    cursor: pointer;
}

.sf-mbtn {
    font-size: 12px;
    width: 100px;
}

.prescriptionBox {
    padding-right: 35px;
    padding-left : 45px;
    height : 135px;
    justify-content: center;
}

.prescriptionBox > #pills {
    display : block;
    width : 365px;
    height : 130px;
    border : 1px solid #7b7a7a;
    overflow-y: scroll;
    overflow-x: hidden;
}

.prescriptionBox > #prescription-record {
    box-sizing : border-box;
    padding: 5px;
    width : 320px;
    height : 132px;
    resize : none;
    text-align : start;
}

#pills > .pill {
    margin: 0; padding: 0;
    width: 347px;
    height: 35px;
    display: flex;
    list-style: none;
}

.pill > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
}

.pill > li > input , .pre-pill > li > input {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    border: 0;
}

.pill > li:nth-child(2) {
    display: inline-block;
    width: 219px;
    text-align: left;
    font-size: 14px;
    overflow: auto;
}

#no-pills {
    box-sizing: border-box;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
}

