<!DOCTYPE html>
<!--thymeleaf 사용 및 레이아웃 사용을 알린다-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--head 안에는 공통 JS, CSS, favicon 등의 내용이 담기도록 한다.-->
    <th:block th:replace="~{common/fragments/config :: ConfigFragment}"></th:block>
</head>

<body>

    <div id="wrap">
        <aside id="sidebar" th:replace="~{common/fragments/sidebar :: SidebarFragment}">사이드바</aside>

        <div id="header-main-wrap">
            <!-- 공통 Header 영역 -->
            <header th:replace="~{common/fragments/header :: HeaderFragment}">헤더</header>

            <!-- 페이지별 Content 영역 -->
            <main>
                <section id="left-section" layout:fragment="leftSection">1</section>

                <section id="right-section" layout:fragment="rightSection">2</section>
            </main>
        </div>

        <div id="custom-context-menu">
            <ul th:replace="~{common/fragments/context_menu :: contextMenuFragment}"></ul>
        </div>
    </div>

    <!-- 공통 JS-->
    <script src="/js/common/common.js"></script>
</body>

</html>