<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="firetrap5319@gmail.com">
    <meta name="description" content="연습을 위한 웹사이트 개발" >
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main>

        <form action="/login" method="post" id="login-form">

            <div>
                <!-- <h1>Geomin</h1> -->
                <img src="/img/geomin_logo.png" alt="거민시스템">
                
            </div>

            <div class="input-box">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" autocomplete="off" placeholder="아이디 입력">
            </div>

            <div class="input-box">
                <label for="pw">PW</label>
                <input type="password" id="pw" autocomplete="off" name="password" placeholder="비밀번호 입력">
            </div>
            
            <div>
                <div>
                    <input type="checkbox" name="idCheck"> 아이디 저장
                    <input type="checkbox" name="remember-me"> 자동 로그인
                </div>
                <a href="">비밀번호 찾기</a>
            </div>


            <div>
<!--                <button type="button" onclick="login()">로그인</button>-->
                <button type="submit" >로그인</button>
                <button type="button" onclick="userJoin()">회원가입</button>
            </div>
        </form>

    </main>

<script>

    // function login() {
    //     var formData = {
    //         id: document.getElementById("id").value,
    //         password: document.getElementById("pw").value
    //     };
    //
    //     var xhr = new XMLHttpRequest();
    //     xhr.open("post", "/login", true);
    //     xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    //
    //     xhr.onreadystatechange = function() {
    //         if (xhr.readyState === XMLHttpRequest.DONE) {
    //             if (xhr.status === 200) {
    //                 console.log(xhr.responseText)
    //                 alert("성공");
    //                 // location.href="/reception";
    //             } else {
    //                 console.log(xhr.responseText)
    //                 var error = xhr.responseText
    //                 alert(error)
    //             }
    //         }
    //     };
    //
    //     xhr.send(JSON.stringify(formData));
    // }
    //
    // function userJoin() {
    //
    // }



</script>
</body>
</html>