<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="firetrap5319@gmail.com">
  <meta name="description" content="연습을 위한 웹사이트 개발" >
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- fontawesome cdn -->
  <script src="https://kit.fontawesome.com/fa8d81743a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/medicine_prescription_popup.css">
  <title>Geomin-medicine-search</title>
</head>
<body>

<section>

  <article id="medicineBox">

    <div id="search-box">

      <div>
        <select name="type" id="type">
          <option value="" selected>선택</option>
          <option value="itemName">의약품명</option>
          <option value="entpName">회사명</option>
          <option value="itemSeq">품목기준코드 </option>
        </select>
      </div>

      <div>
        <input type="text" placeholder="검색어 입력" autocomplete="off" id="search-bar">
      </div>

      <button type="button" id="search-btn" alt="검색버튼">
        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
      </button>
    </div>

    <table>

      <caption>
        <span th:text="${keyword != null && keyword != 'null'? keyword : '' }"></span>검색 결과 총
        <span th:text="${apiResult.getBody().getTotalCount()}"></span>
      </caption>

      <tbody>

      <tr>
        <th>품목기준코드</th>
        <th>의약품명</th>
        <th>업체명</th>
        <th>효능</th>
        <th>사용법</th>
        <!-- <th>복용전 주의사항</th> -->
        <th>복용시 주의사항</th>
        <th>상호작용(기타)</th>
        <th>부작용</th>
        <th>낱알 이미지</th>
        <th></th>
      </tr>


      <th:block th:if="${medicineDTOList != null}" th:each="medicine : ${medicineDTOList}">
        <tr>
          <td th:text="${medicine.getItemSeq()}"></td>
          <td th:text="${medicine.getItemName()}"></td>
          <td th:text="${medicine.getEntpName()}"></td>
          <td th:text="${#strings.isEmpty(medicine.getEfcyQesitm())? '기록없음' : medicine.getEfcyQesitm()}"></td>
          <td th:text="${#strings.isEmpty(medicine.getUseMethodQesitm())? '기록없음' : medicine.getUseMethodQesitm()}"></td>
          <td th:text="${#strings.isEmpty(medicine.getAtpnQesitm())? '기록없음' : medicine.getAtpnQesitm()}"></td>
          <td th:text="${#strings.isEmpty(medicine.getIntrcQesitm())? '기록없음' : medicine.getIntrcQesitm()}"></td>
          <td th:text="${#strings.isEmpty(medicine.getSeQesitm())? '기록없음' : medicine.getSeQesitm()}"></td>

          <td th:if="${medicine.getItemImage() == null}">이미지 없음</td>
          <td class="imgBox" th:if="${medicine.getItemImage() != null}">
            <img th:src="${medicine.getItemImage()}" th:alt="${medicine.getItemName()}">
          </td>
          <td><button class="btn" onclick="clickPill(this)">선택</button></td>
        </tr>
      </th:block>

      </tbody>
    </table>

    <div id="no-data" th:if="${medicineDTOList == null}">
      <span>검색 결과가 없습니다.</span>
    </div>

    <div>
      <ul id="vital-sign-pageing">
        <li th:if="${apiResult.getBody().getPageNo() > apiResult.getBody().getNumOfRows() }">
          <a th:href="@{'/medicine-prescription?type=' + ${type} + '&keyword=' + ${keyword} + '&page=' + ${apiResult.getBody().getPrevGroupStartPage()} }">
            <i class="fa-solid fa-angle-left" style="color: #000000;"></i>
          </a>
        </li>

        <th:block th:each="page : ${#numbers.sequence(apiResult.getBody().getCurrentGroupStartPage() , apiResult.getBody().getCurrentGroupEndPage())}">
          <li th:classappend="${page == apiResult.getBody().getPageNo()}? 'active' : '' ">
            <a th:href="@{'/medicine-prescription?type=' + ${type} + '&keyword=' + ${keyword} + '&page=' + ${page} }"
               th:text="${page}">
            </a>
          </li>
        </th:block>

        <li th:if="${apiResult.getBody().getCurrentGroupEndPage() < apiResult.getBody().getTotalPages()}">
          <a th:href="@{'/medicine-prescription?type=' + ${type} + '&keyword=' + ${keyword} + '&page=' + ${apiResult.getBody().getNextGroupStartPage()} }">
            <i class="fa-solid fa-angle-right" style="color: #000000;"></i>
          </a>
        </li>

      </ul>
    </div>

  </article>

  <article id="medicineSelectedBox">

    <div id="header">
      <span>의약품명</span>
      <span>1회 투여량</span>
      <span>1일 투여횟수</span>
      <span>투약일수</span>
      <span></span>
    </div>

    <div id="pills">

      <div id="no-pills">
        선택된 의약품이 없습니다.
      </div>

    </div>

    <div id="footer">
      <button class="btn" id="clearBtn" onclick="deletePills()">모두 삭제</button>
      <button class="btn" id="okBtn" onclick="closePopup()">확인</button>
    </div>





  </article>



</section>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>
 <script src="/js/medicine_prescription_popup.js"></script>
<script>

</script>
</body>
</html>