<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/fa8d81743a.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reception.css">
    <title>Geomin-Home</title>
</head>
<body>

    <div id="wrap">

        <aside id="sidebar">
            
            <div id="name-box">
                <h1>진료실 -
                    <span th:if="${user.getDepartment() != null}" th:text="${user.getDepartment()}">소속</span>
                    <span th:if="${user.getDepartment() == null}">무소속</span>
                </h1>
                <h3>담당자 : <span th:text="${user.getName()}">최은석</span></h3>
                <input type="hidden" id="userId" th:value="${user.getId()}">
                <input type="hidden" id="departmentId" th:value="${user.getDepartmentId()}">
            </div>

            <hr>

            <div>
                <div>
                    <button class="btn">진료대기</button>
                    <span id="waiting-user-count" th:text="${waitingList.getTotalElements()}">3</span> 명
                </div>

                <div>
                    <button class="btn">진료완료</button>
                    <span id="waiting-end-count" th:text="${waitingEnd}">5</span> 명
                </div>
            </div>

            <hr>

            <div id="waiting-list">

                <th:block th:each="waitingUser : ${waitingList.content}">
                    <div class="name-card">
                        <div>
                            <span class="name" th:text="${waitingUser.getPatientName()}">이름</span>
                            <input type="hidden" th:value="${waitingUser.getWaitingId()}" class="waitingId">
                            <button th:if="${waitingUser.getWaitingStatus() == '진료중'}" class="btn2" onclick="endPatient(this)">진료중</button>
                            <button th:if="${waitingUser.getWaitingStatus() != '진료중'}" class="btn" onclick="callPatient(this)">호출</button>
                        </div>

                        <div>
                            <span th:text="${waitingUser.getIdentify()}">생년월일</span>
                            <span th:if="${waitingUser.getAge() != null && waitingUser.getAge() != 0}" th:text="${waitingUser.getAge()+'세'}">나이</span>
                            <span th:if="${waitingUser.isGender() == true}">남</span>
                            <span th:if="${waitingUser.isGender() == false}">여</span>
                        </div>

                        <div>
                            <span th:text="${waitingUser.getWaitingDate()} + '접수'"></span>
                            <span th:text="${waitingUser.getWaitingType()}"></span>
                        </div>

                        <div>
                            <span th:text="${waitingUser.getWaitingStatus()}"></span>
                        </div>
                    </div>
                </th:block>


            </div>


            <input type="hidden" value="0" id="waiting-current-page">

            <ul id="waiting-pageing">
                <!--<li id="waiting-prev-page">
                    <i class="fa-solid fa-angle-left" style="color: #000000;"></i>
                </li>-->

                <th:block th:if="${waitingList.getTotalPages() != 0}" th:each="page : ${#numbers.sequence(1 , waitingList.getTotalPages())}">
                    <li th:if="${page <= 3}" th:classappend="${waitingList.number + 1 == page}? 'active' " th:text="${page}" th:onclick="'searchWaiting(' + (${page} - 1) + ')'">
                    </li>
                </th:block>

                <li th:if="${waitingList.getTotalPages() > 3}" id="waiting-next-page">
                    <i class="fa-solid fa-angle-right" style="color: #000000;"></i>
                </li>
            </ul>

        </aside>

        <div id="header-main-wrap">
            <header>
                
                <div>
                    <div id="search-box">
                        <div>
                            <input type="text" name="patientName" placeholder="환자 검색" id="search-bar">
                        </div>
                        <button id="search-btn" alt="검색버튼">
                            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                        </button>
                    </div>
    
                    <div>
                        <button type="button" class="btn" onclick="clearPatient()">신환등록</button>
                        <button type="button" class="btn" onclick="">수납</button>
                        <button type="button" class="btn" onclick="getWaitingPopup()">접수</button>
                        <button type="button" class="btn sf-mbtn" onclick="">진료기록작성</button>
                    </div>
                </div>

                <div>
                    <button type="button" class="btn" id="logout-btn" onclick="logout()">로그아웃</button>
                </div>

            </header>
        
            <main>

                <section id="left-section">
                    
                    <article id="patient-article">
                        <form method="post" id="patient-record">
                            
                            <div>
                                <input type="hidden" id="patientId">
                                <input type="hidden" id="vitalId">
                                <input type="hidden" value="" id="vitalPage">

                                <label for="patient_name">성함 : </label>
                                <input type="text" id="patient_name" name="patientName" value="" size="10" autocomplete="off" class="patientValue" placeholder="OOO">
    
                                <label for="identify">주민등록번호 : </label>
                                <input type="text" id="identify" name="identify" value="" size="10" autocomplete="off" class="patientValue" oninput="checkIdentify(this)" placeholder="000000-0000000">
    
                                <label for="gender">성별 :</label>
                                <!--<input type="text" id="gender" name="gender" value="" size="2">-->
                                <select name="gender" id="gender">
                                    <option value="true" selected>남</option>
                                    <option value="false">여</option>
                                </select>

                                <button type="button" class="btn" id="patient-modify-btn" onclick="modifyPatient()">수정</button>
                                <button type="button" class="btn" id="patient-update-btn" onclick="addPatient()">등록</button>
                                <button type="button" class="btn" id="patient-btn" onclick="addPatient()">등록</button>
                                <button type="button" class="btn" id="patient-cancel-btn" onclick="searchPatient()">취소</button>
                            </div>

                            <div>
                                <label for="address">주소 : </label>
                                <input type="text" id="address" name="address" value="" size="30" autocomplete="off" readonly placeholder="'주소검색'을 이용해 주세요.">

                                <label for="address-detail">상세주소 : </label>
                                <input type="text" id="address-detail" name="addressDetail" value="" size="30" autocomplete="off" placeholder="상세주소를 입력해주세요.">

                                <button type="button" class="btn" id="post-search-btn" onclick="daumPostcode()">주소검색</button>
                            </div>
                            
                            <div>

                                <label for="post-code">우편번호 : </label>
                                <input type="text" id="post-code" name="postCode" value="" size="3" autocomplete="off" readonly placeholder="...">

                                <label for="extraAddress">참고항목 :</label>
                                <input type="text" id="extraAddress" name="extraAddress" size="5" autocomplete="off" readonly placeholder="...">

                                <label for="age">나이 : </label>
                                <input type="text" id="age" name="age" value="" size="3" autocomplete="off" oninput="checkInt(this)" placeholder="0">
    
                                <label for="blood-type">혈액형 : </label>
                                <input type="text" id="blood-type" name="bloodType" value="" size="3">
                            </div>

                            <div>
                                <label for="phone">연락처 : </label>
                                <input type="text" id="phone" name="phone" value="" autocomplete="off" placeholder="000-0000-0000">

                                <label for="emergency-phone">비상연락처 : </label>
                                <input type="text" id="emergency-phone" name="emergencyPhone" value="" autocomplete="off" placeholder="000-0000-0000">
                            </div>

                            <hr>


                            <table id="vital-sign-table">
                                <tbody>
                                    <tr>
                                        <th>날짜</th>
                                        <th>몸무게(Kg)</th>
                                        <th>신장(cm)</th>
                                        <th>혈압(수축)</th>
                                        <th>혈압(이완)</th>
                                        <th>체온(℃)</th>
                                        <th>맥박</th>
                                    </tr>
    
                                    <tr>
                                        <td><input type="date" value=""></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkDouble(this)" class="vitalValue" placeholder="00.0"></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkDouble(this)" class="vitalValue" placeholder="000.0"></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkInt(this)" class="vitalValue" placeholder="0"></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkInt(this)" class="vitalValue" placeholder="0"></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkDouble(this)" class="vitalValue" placeholder="00.0"></td>
                                        <td><input type="text" value="" size="2" autocomplete="off" oninput="checkInt(this)" class="vitalValue" placeholder="0"></td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                            
                            <div>
                                <div id="vital-sign-btn-box">
                                    <button type="button" class="btn" onclick="clearVitals()" id="vital-sign-add-btn">+</button>
                                    <button type="button" class="btn" onclick="updateVital()" id="vital-sign-update-btn">등록</button>
                                    <button type="button" class="btn" onclick="modifyVital()" id="vital-sign-modify-btn">수정</button>
                                    <button type="button" class="btn" onclick="addVital()" id="vital-sign-btn">등록</button>
                                    <button type="button" class="btn" onclick="searchVitals()" id="vital-sign-cancel-btn">취소</button>
                                </div>

                                <ul id="vital-sign-pageing">
                                    <li id="prev-page">
                                        <i class="fa-solid fa-angle-left" style="color: #000000;"></i>
                                    </li>


                                    <li id="next-page">
                                        <i class="fa-solid fa-angle-right" style="color: #000000;"></i>
                                    </li>
                                </ul>
                            </div>

                        </form>

                        <div>

                        </div>
                    </article>

                    <article id="diagnosis-article">
                        <nav>
                            <ul id="diagnosis-record-list">
                                <!-- <li><a href="">최신순</a></li> -->
                                <li>
                                    <select name="" id="">
                                        <option value="desc">최신순</option>
                                        <option value="asc">오래된순</option>
                                    </select>
                                </li>

<!--                                <li><a href="">2024-05-11</a></li>-->
<!--                                <li><a href="">2024-05-04</a></li>-->
<!--                                <li><a href="">2024-04-27</a></li>-->

                            </ul>
                        </nav>
                        
                        <div>
                            <div>
                                <input type="hidden" id="post-diagnosis-id">
                                <h3 id="diagnosis-title">진료기록
                                    <span>2024-05-04</span>
                                    <span> | </span>
                                    <span>임승범</span>
                                </h3>
                                <button class="btn diagnosis-modify-btn">수정</button>
                            </div>

                            <div class="textarea-box pre-diagnosis-box">
                                <h4>증상</h4>
                                <textarea name="symptoms" id="symptoms-past-record" readonly placeholder="증상을 입력해주세요.">코 막힘 , 호흡불편 , 코 가려움</textarea>
                            </div>

                            <div class="textarea-box pre-diagnosis-box">
                                <h4>진료</h4>
                                <textarea name="diagnosis" id="diagnosis-past-record" readonly placeholder="진료 내용을 입력해주세요.">알레르기성 비염, 환경 개선 및 약물요법 병행치료 진행 </textarea>
                            </div>

                            <div class="textarea-box pre-diagnosis-box">
                                <h4>처방</h4>
                                <textarea name="prescription" id="prescription-past-record" readonly placeholder="처방 내용을 입력해주세요.">항히스타민 성분 약 7일치 처방 바람.</textarea>
                            </div>

                            <div id="no-record-diagnosis">
                                <span>과거 진료 기록이 없습니다.</span>
                            </div>

                            <div id="diagnosis-detail-box">

                                <div id="diagnosis-photo-box">
                                    <div>1</div>
                                    <div>2</div>
                                    <div>3</div>
                                    <div>+</div>
                                </div>

                                <div id="attending-doctor-box">
                                    <span>담당의 </span>
                                    <span> : </span>
                                    <span>임승범</span>
                                </div>

                            </div>


                        </div>



                    </article>
                </section>

                <section id="right-section">

                    <article>

                        <div>
                            <input type="hidden" id="new-diagnosisId">
                            <input type="hidden" id="diagnosisModifier">
                            <input type="hidden" id="new-patientId">
                            <h3 id="diagnosis-write-title">
                                진료기록 작성
                                <span id="todayDiagnosisDate">2024/05/11 15:13</span>
                                <span> | </span>
                                <span>임승범</span>
                            </h3>
                        </div>

                        <div class="textarea-box big">
                            <div>
                                <h4>증상</h4>
                                <div id="diagnosis-btn-box">
                                    <button class="btn" id="diagnosis-modify-btn">수정</button>
                                    <button class="btn" id="diagnosis-delete-btn">삭제</button>
                                    <button class="btn" id="diagnosis-cancel-btn">취소</button>
                                    <button class="btn" id="diagnosis-create-btn">등록</button>
                                </div>
                            </div>
                            <textarea name="symptoms" id="symptoms-record" readonly ></textarea>
                        </div>

                        <div class="textarea-box big">
                            <div>
                                <h4>진료</h4>
                            </div>
                            
                            <textarea name="diagnosis" id="diagnosis-record" readonly></textarea>
                        </div>

                        <div class="textarea-box big">
                            <div>
                                <h4>처방</h4>
                            </div>
                            
                            <textarea name="prescription" id="prescription-record" readonly></textarea>
                        </div>

                        <div id="file-box">
                            <div>
                                <h4>파일등록</h4>
                                <label for="file-upload" class="btn file-label">내PC</label>
                            </div>

                            <div>
                                <div id="file-drag-box" class="">
                                    <i class="fa-solid fa-file-image fa-2xl" style="color: #74C0FC;"></i>
                                    <p>File drag and drop</p>

                                    <div id="files" class="files">

                                    </div>

                                </div>

                                <ul>
                                    <li><input type="file" id="file-upload" accept="image/*, .pdf" multiple></li>
                                </ul>
                            </div>
                        </div>


                    </article>

                </section>




            </main>
        </div>

        <div id="custom-context-menu">
            <ul>
                <li class="waiting-type-menu">
                    접수상태변경
                    <ul class="submenu">
                        <li>대기중</li>
                        <li>진료중</li>
                        <li>진료완료</li>
                        <li>검사대기</li>
                        <li>검사중</li>
                        <li>접수취소</li>
                    </ul>
                </li>

                <li class="waiting-type-menu">
                    접수종류변경
                    <ul class="submenu">
                        <li>일반진료</li>
                        <li>전문진료</li>
                        <li>입원진료</li>
                        <li>응급진료</li>
                        <li>외래진료</li>
                        <li>재활진료</li>
                    </ul>
                </li>
            </ul>
        </div>
    

    </div>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/reception.js"></script>
</body>
</html>