<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="firetrap5319@gmail.com">
    <meta name="description" content="연습을 위한 웹사이트 개발" >
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/fa8d81743a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/treatment_popup.css">
    <title>Geomin-mdefee-search</title>
</head>
<body>

    <section>
        <article>
            <div id="search-box">
    
                <div>
                    <input type="text" placeholder="검색어 입력" id="search-bar" autocapitalize="none" onkeyup="search()">
                </div>

                <div id="search-output">
                    <ul id="search-nav">
                        <li class="clicked" value="1">전체검색</li>
                        <li value="2">진료수가</li>
                        <li value="3">치료재료</li>
                    </ul>

                    <div id="output-values">
                        <ul id="treatmentBox" class="values mdFee">
                            <li>진료수가</li>
<!--                            <li class="treatment-data"><span>A1100190</span><span>의료최고도 입원환자군, 의사3·간호5등급/오전0-6시입원, 9인 이상 병실입원</span> <span class="benefit">급여</span> <span class="no-surgery">비수술</span> </li>-->
<!--                            <li class="treatment-data"><span>M6561</span><span>경피적관상동맥스텐트삽입술-단일혈관/</span> <span class="benefit">급여</span> <span class="surgery">수술</span> </li>-->
<!--                            <li class="treatment-data"><span>M6561</span><span>경피적관상동맥스텐트삽입술-단일혈관/</span> <span class="benefit">급여</span> <span class="surgery">수술</span> </li>-->
<!--                            <li class="treatment-data"><span>M6561</span><span>경피적관상동맥스텐트삽입술-단일혈관/</span> <span class="benefit">급여</span> <span class="surgery">수술</span> </li>-->
<!--                            <li class="treatment-data"><span>M6561</span><span>경피적관상동맥스텐트삽입술-단일혈관/</span> <span class="benefit">급여</span> <span class="surgery">수술</span> </li>-->
                             <div class="no-data" id="treatment-no-data">검색 결과를 찾을 수 없습니다...</div>
                        </ul>

                        
    
                        <ul id="medicalBox" class="values medicalFee">
                            <li>치료재료</li>
<!--                            <li class="medical-data"><span>BC1001KZ</span> <span>기능성무릎보호대</span> <span class="entpNm">헬스메드</span></li>-->
<!--                            <li class="medical-data"><span>BC1001KZ</span> <span>기능성무릎보호대</span> <span class="entpNm">헬스메드</span></li>-->
<!--                            <li class="medical-data"><span>BC1001KZ</span> <span>기능성무릎보호대</span> <span class="entpNm">헬스메드</span></li>-->
<!--                            <li class="medical-data"><span>BC1001KZ</span> <span>기능성무릎보호대</span> <span class="entpNm">헬스메드</span></li>-->
<!--                            <li class="medical-data"><span>BC1001KZ</span> <span>기능성무릎보호대</span> <span class="entpNm">헬스메드</span></li>-->
                            <div class="no-data" id="material-no-data">검색 결과를 찾을 수 없습니다...</div>
                        </ul>
                    </div>
                </div>

                <div id="selected-box">
                    <ul>

                    </ul>
                </div>

                <div id="btn-box">
                    <button class="btn">확인</button>
                </div>
    
            </div>

    



        </article>
    </section>

    
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/treatment_popup.js"></script>

</body>
</html>