<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Maooer 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.demo.repository.DiagnosisRepository">
    
    <resultMap id="DiagnosisMap" type="com.geomin.demo.domain.DiagnosisVO">
        <id property="diagnosisId" column="diagnosis_id" />
        <result property="symptoms" column="symptoms" />
        <result property="diagnosisDate" column="diagnosis_date" />
        <result property="diagnosis" column="diagnosis" />
        <result property="prescription" column="prescription" />
        <result property="diagnosisYn" column="diagnosis_yn" />
        <result property="modifyDate" column="modify_date" />
        <result property="medicineId" column="medicine_id" />
<!--        <result property="diagnosisModifier" column="diagnosis_modifier" />-->
        <result property="fileId" column="file_id" />
        <result property="kcdId" column="kcd_id" />
        <result property="diagnosisDelYn" column="diagnosis_del_yn" />
        <result property="treatmentId" column="treatment_id" />
        <result property="medicalBillId" column="medical_bill_id" />
        <result property="diagnosisLock" column="diagnosis_lock" />

        <!--  diagnosis_modifier mapping -->
        <association property="diagnosisModifier" resultMap="modifierMap" column="diagnosis_modifier"/>
        <!--  doctor_id maaping -->
        <association property="doctor" resultMap="doctorMap"/>
        <association property="patient" resultMap="patientMap" />
        <association property="department" resultMap="departmentMap" />
        <association property="waiting" resultMap="waitingMap" />
    </resultMap>

    <resultMap id="waitingMap" type="com.geomin.demo.domain.WaitingVO">
        <id property="waitingId" column="waiting_id" />
        <result property="waitingKey" column="waiting_key" />
        <result property="waitingDate" column="waiting_date" />
        <result property="waitingStatus" column="waiting_status" />
        <result property="waitingType" column="waiting_type" />
        <result property="receptionist" column="receptionist" />
        <result property="payStatus" column="pay_status" />
        <association property="patient" resultMap="patientMap" />
        <association property="department" resultMap="departmentMap" />
    </resultMap>

    <resultMap id="patientMap" type="com.geomin.demo.domain.PatientVO">
        <id property="patientId" column="patient_id" />
        <result property="patientName" column="patient_name" />
        <result property="identify" column="identify" />
        <result property="gender" column="gender" />
        <result property="phone" column="phone" />
        <result property="emergencyPhone" column="emergency_phone" />
        <result property="age" column="age" />
        <result property="bloodType" column="blood_type" />
        <result property="address" column="address" />
        <result property="addressDetail" column="address_detail" />
        <result property="postCode" column="post_code" />
    </resultMap>

    <resultMap id="modifierMap" type="com.geomin.demo.domain.DoctorVO">
        <id property="doctorId" column="modifier_doctorId" />
        <result property="doctorName" column="modifier_doctorName" />
        <result property="doctorPhone" column="modifier_doctorPhone" />
        <association property="department" resultMap="modifierDepartmentMap" />
    </resultMap>

    <resultMap id="doctorMap" type="com.geomin.demo.domain.DoctorVO">
        <id property="doctorId" column="doctor_id" />
        <result property="doctorName" column="doctor_name" />
        <result property="doctorPhone" column="doctor_phone" />
        <association property="department" resultMap="departmentMap" />
    </resultMap>

    <resultMap id="departmentMap" type="com.geomin.demo.domain.DepartmentVO">
        <id property="departmentId" column="department_id" />
        <result property="departmentName" column="department_name" />
        <result property="departmentPhone" column="department_phone" />
    </resultMap>

    <resultMap id="modifierDepartmentMap" type="com.geomin.demo.domain.DepartmentVO">
        <id property="departmentId" column="modifier_department" />
        <result property="departmentName" column="modifier_departmentName" />
        <result property="departmentPhone" column="modifier_departmentPhone" />
    </resultMap>



    <insert id="addOnlySymptoms">
        INSERT INTO DIAGNOSIS
            (DIAGNOSIS_ID , PATIENT_ID , DEPARTMENT_ID, WAITING_ID ,
             SYMPTOMS , DIAGNOSIS_DATE)
        VALUES
            (#{lastDiagnosisId} + 1 , #{diagnosisDTO.patientId}, #{diagnosisDTO.departmentId},
            #{diagnosisDTO.waitingId} , #{diagnosisDTO.symptoms} , now() )
    </insert>


    <select id="getLastDiagnosisId">
        SELECT
            IFNULL(MAX(DIAGNOSIS_ID) , 0)
        FROM
            DIAGNOSIS
    </select>

<!--    <select id="getDiagnosisList" resultMap="DiagnosisMap">-->
<!--        SELECT-->
<!--            d.*,-->
<!--            d3.*,-->
<!--            d2.doctor_name as doctor_name,-->
<!--            d2.doctor_phone as doctor_phone,-->
<!--            d2.department_id as department,-->
<!--            d4.doctor_id as modifier_doctorId,-->
<!--            d4.doctor_name as modifier_doctorName,-->
<!--            d4.doctor_phone as modifier_doctorPhone,-->
<!--            d4.department_id as modifier_department,-->
<!--            d5.department_name as modifier_departmentName,-->
<!--            d5.department_phone as modifier_departmentPhone-->
<!--        FROM-->
<!--            diagnosis d-->
<!--            LEFT OUTER JOIN DOCTOR d2 ON d2.DOCTOR_ID = d.DOCTOR_ID-->
<!--            LEFT OUTER JOIN DEPARTMENT d3 ON d3.DEPARTMENT_ID = d.DEPARTMENT_ID-->
<!--            LEFT OUTER JOIN DOCTOR d4 ON d4.DOCTOR_ID = d.DIAGNOSIS_MODIFIER-->
<!--            LEFT OUTER JOIN DEPARTMENT d5 ON d5.DEPARTMENT_ID = d4.DEPARTMENT_ID-->
<!--        WHERE-->
<!--            d.DEPARTMENT_ID = #{diagnosisDTO.departmentId}-->
<!--        AND-->
<!--            d.PATIENT_ID = #{diagnosisDTO.patientId}-->
<!--        AND-->
<!--            d.DIAGNOSIS_YN = 1-->
<!--        AND-->
<!--            d.DIAGNOSIS_DEL_YN = 0-->
<!--        <if test="pageable.sort != null and !pageable.sort.isEmpty()">-->
<!--            ORDER BY-->
<!--            <foreach item="order" index="index" collection="pageable.sort.orders" separator=",">-->
<!--                ${order.property} ${order.direction}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        OFFSET-->
<!--            #{pageable.offset} ROWS-->
<!--        FETCH NEXT-->
<!--            #{pageable.pageSize} ROWS ONLY-->
<!--    </select>-->

    <select id="getDiagnosisList" resultMap="DiagnosisMap">
        SELECT
            d.*,
            p.*,
            d3.*,
            d2.doctor_name as doctor_name,
            d2.doctor_phone as doctor_phone,
            d2.department_id as department,
            d4.doctor_id as modifier_doctorId,
            d4.doctor_name as modifier_doctorName,
            d4.doctor_phone as modifier_doctorPhone,
            d4.department_id as modifier_department,
            d5.department_name as modifier_departmentName,
            d5.department_phone as modifier_departmentPhone
        FROM
            diagnosis d
            LEFT OUTER JOIN PATIENT p ON p.PATIENT_ID = d.PATIENT_ID
            LEFT OUTER JOIN DOCTOR d2 ON d2.DOCTOR_ID = d.DOCTOR_ID
            LEFT OUTER JOIN DEPARTMENT d3 ON d3.DEPARTMENT_ID = d.DEPARTMENT_ID
            LEFT OUTER JOIN DOCTOR d4 ON d4.DOCTOR_ID = d.DIAGNOSIS_MODIFIER
            LEFT OUTER JOIN DEPARTMENT d5 ON d5.DEPARTMENT_ID = d4.DEPARTMENT_ID
        WHERE
            d.DEPARTMENT_ID = #{diagnosisDTO.departmentId}
        AND
            d.PATIENT_ID = #{diagnosisDTO.patientId}
        AND
            d.DIAGNOSIS_YN = 1
        AND
            d.DIAGNOSIS_DEL_YN = 0
        ORDER BY
            <if test="diagnosisDTO.isSort == false">
                d.DIAGNOSIS_DATE ASC
            </if>
            <if test="diagnosisDTO.isSort == true">
                d.DIAGNOSIS_DATE DESC
            </if>
        OFFSET
            #{offset} ROWS
        FETCH NEXT
            #{size} ROWS ONLY
    </select>

    <select id="getTotalDiagnosis" parameterType="com.geomin.demo.dto.DiagnosisDTO">
        SELECT
            COUNT(*) total
        FROM
            diagnosis
        WHERE
            DEPARTMENT_ID = #{departmentId}
        AND
            PATIENT_ID = #{patientId}
        AND
            DIAGNOSIS_YN = 1
        AND
            DIAGNOSIS_DEL_YN != 1
    </select>

    <update id="deleteDiagnosisByWaitingId">
        UPDATE
            DIAGNOSIS
        SET
            DIAGNOSIS_DEL_YN = 1
        WHERE
            WAITING_ID = #{waitingId}
    </update>

    <update id="deleteDiagnosisById">
        UPDATE
            DIAGNOSIS
        SET
            DIAGNOSIS_DEL_YN = 1
        WHERE
            DIAGNOSIS_ID = #{diagnosisId}
    </update>

    <select id="getDiagnosisByWaitingId" resultMap="DiagnosisMap">
        SELECT
            *
        FROM
            DIAGNOSIS d
            LEFT OUTER JOIN DEPARTMENT d2 ON d2.DEPARTMENT_ID = d.DEPARTMENT_ID
            LEFT OUTER JOIN WAITING w ON w.WAITING_ID = d.WAITING_ID
            LEFT OUTER JOIN PATIENT p ON p.PATIENT_ID = d.PATIENT_ID
        WHERE
            d.WAITING_ID = #{waitingId}
    </select>

    <update id="updateDiagnosisById">
        UPDATE
            DIAGNOSIS
        <set>
            SYMPTOMS = #{symptoms},
            DIAGNOSIS = #{diagnosis},
            PRESCRIPTION = #{prescription},
            <if test="fileId > 0">
                FILE_ID = #{fileId},
            </if>
            <if test="fileId == -1">
                FILE_ID = NULL ,
            </if>

            <if test="medicineId > 0">
                MEDICINE_ID = #{medicineId},
            </if>
            <if test="medicineId == -1">
                MEDICINE_ID = NULL ,
            </if>

            <if test="kcdId > 0">
                KCD_ID = #{kcdId},
            </if>
            <if test="kcdId == -1">
                KCD_ID = NULL ,
            </if>

            <if test="treatmentId > 0">
                TREATMENT_ID = #{treatmentId},
            </if>
            <if test="treatmentId == -1">
                TREATMENT_ID = NULL,
            </if>

            <if test="medicalBillId > 0">
                MEDICAL_BILL_ID = #{medicalBillId},
            </if>
            <if test="medicalBillId == -1">
                MEDICAL_BILL_ID = NULL,
            </if>

            <if test="diagnosisYn == true">
                MODIFY_DATE = now(),
                DIAGNOSIS_MODIFIER = #{diagnosisModifier},
            </if>

            <if test="diagnosisYn == false">
                DIAGNOSIS_DATE = NOW(),
                DOCTOR_ID = #{doctorId},
                DIAGNOSIS_YN = TRUE
            </if>
        </set>
        WHERE
            DIAGNOSIS_ID = #{diagnosisId}
    </update>


    <select id="getDiagnosisById" resultMap="DiagnosisMap">
        SELECT
            d.*,
            P.*,
            W.*,
            d3.*,
            d2.doctor_name as doctor_name,
            d2.doctor_phone as doctor_phone,
            d2.department_id as department,
            d4.doctor_id as modifier_doctorId,
            d4.doctor_name as modifier_doctorName,
            d4.doctor_phone as modifier_doctorPhone,
            d4.department_id as modifier_department,
            d5.department_name as modifier_departmentName,
            d5.department_phone as modifier_departmentPhone
        FROM
            diagnosis d
            LEFT OUTER JOIN PATIENT p ON p.PATIENT_ID = d.PATIENT_ID
            LEFT OUTER JOIN DOCTOR d2 ON d2.DOCTOR_ID = d.DOCTOR_ID
            LEFT OUTER JOIN DEPARTMENT d3 ON d3.DEPARTMENT_ID = d.DEPARTMENT_ID
            LEFT OUTER JOIN DOCTOR d4 ON d4.DOCTOR_ID = d.DIAGNOSIS_MODIFIER
            LEFT OUTER JOIN DEPARTMENT d5 ON d5.DEPARTMENT_ID = d4.DEPARTMENT_ID
            LEFT OUTER JOIN WAITING w ON w.WAITING_ID = d.WAITING_ID
        WHERE
            d.DIAGNOSIS_ID = #{diagnosisId}
    </select>

    <insert id="createDiagnosis">
        INSERT INTO DIAGNOSIS
            (DIAGNOSIS_ID , PATIENT_ID , DOCTOR_ID , DEPARTMENT_ID , SYMPTOMS, DIAGNOSIS, PRESCRIPTION,
            <if test="fileId > 0">
                FILE_ID ,
            </if>
            <if test="medicineId > 0">
                MEDICINE_ID ,
            </if>
            <if test="kcdId > 0">
                KCD_ID ,
            </if>
            <if test="treatmentId > 0">
                TREATMENT_ID ,
            </if>
            <if test="medicalBillId > 0">
                MEDICAL_BILL_ID ,
            </if>
             DIAGNOSIS_YN , DIAGNOSIS_DATE )
        VALUES
            ( #{diagnosisId} , #{patientId} , #{doctorId} ,
              #{departmentId} , #{symptoms} , #{diagnosis} ,
              #{prescription} ,
            <if test="fileId > 0">
                #{fileId} ,
            </if>
            <if test="medicineId > 0">
                #{medicineId} ,
            </if>
            <if test="kcdId > 0">
                #{kcdId} ,
            </if>
            <if test="treatmentId > 0">
                #{treatmentId},
            </if>
            <if test="medicalBillId > 0">
                #{medicalBillId},
            </if>
              true , now()
            )
    </insert>

    <update id="deleteOldNotFinishedDiagnosis">
        UPDATE
            DIAGNOSIS
        SET
            DIAGNOSIS_DEL_YN = 1
        WHERE
            DIAGNOSIS_DEL_YN = 0
            AND
            DIAGNOSIS_YN = 0
            AND
            DATE(DIAGNOSIS_DATE) = DATE_SUB(CURDATE() , INTERVAL 1 DAY)
    </update>


    
</mapper>