<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Maooer 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.demo.repository.FileInfoRepository">

    <select id="getLastFileId">
        SELECT
            IFNULL(MAX(FILE_ID) , 0) AS FILE_ID
        FROM
            FILE_INFO;
    </select>

    <insert id="insertFiles" >
        INSERT INTO FILE_INFO
            (FILE_ID , FILE_SEQ, ORG_FILE_NAME , SAVE_FILE_NAME , FILE_PATH , FILE_SIZE , IMG )
        VALUES
        <foreach item="file" collection="uploadFiles" separator=",">
            (
            #{file.fileId} ,
            #{file.fileSeq} ,
            #{file.orgFileName} ,
            #{file.saveFileName} ,
            #{file.filePath} ,
            #{file.fileSize},
            #{file.img})
        </foreach>
    </insert>

    <select id="getFileById" resultType="com.geomin.demo.domain.FileInfoVO">
        SELECT
            *
        FROM
            FILE_INFO
        WHERE
            FILE_ID = #{fileId}
    </select>

    <delete id="deleteFile">
        DELETE FROM
            FILE_INFO
        WHERE
            FILE_ID = #{fileId} AND
            FILE_SEQ = #{fileSeq}
    </delete>

    <delete id="deleteFiles">
        DELETE FROM
            FILE_INFO
        WHERE
            FILE_ID = #{fileId}
        AND
            FILE_SEQ IN
        <foreach collection="deleteFilesSeq" item="seq" open="(" separator="," close=")">
            #{seq}
        </foreach>
    </delete>




</mapper>