<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Maooer 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.demo.repository.WaitingRepository">

    <resultMap id="WaitingMap" type="com.geomin.demo.domain.WaitingVO">
        <id property="waitingId" column="waiting_id" />
        <result property="waitingKey" column="waiting_key" />
        <result property="waitingDate" column="waiting_date" />
        <result property="waitingStatus" column="waiting_status" />
        <result property="waitingType" column="waiting_type" />
        <result property="receptionist" column="receptionist" />
        <association property="patient" resultMap="patientMap" />
        <association property="department" resultMap="departmentMap" />
    </resultMap>

    <resultMap id="patientMap" type="com.geomin.demo.domain.PatientVO">
        <id property="patientId" column="patient_id" />
        <result property="patientName" column="patient_name" />
        <result property="identify" column="identify" />
        <result property="gender" column="gender" />
        <result property="phone" column="phone" />
        <result property="emergencyPhone" column="emergency_phone" />
        <result property="age" column="age" />
        <result property="bloodType" column="blood_type" />
        <result property="address" column="address" />
        <result property="addressDetail" column="address_detail" />
        <result property="postCode" column="post_code" />
    </resultMap>

    <resultMap id="departmentMap" type="com.geomin.demo.domain.DepartmentVO">
        <id property="departmentId" column="department_id" />
        <result property="departmentName" column="department_name" />
        <result property="departmentPhone" column="department_phone" />
    </resultMap>

    <select id="getWaitingList" resultMap="WaitingMap">
    SELECT
        *
    FROM
        WAITING W
        JOIN PATIENT P ON W.PATIENT_ID = P.PATIENT_ID
        JOIN DEPARTMENT D ON W.DEPARTMENT_ID = D.DEPARTMENT_ID
    WHERE
        DATE(waiting_date) = CURDATE()
        AND
        WAITING_STATUS != 2
        AND
        WAITING_STATUS != 5
        AND
        w.DEPARTMENT_ID = #{departmentId}
    ORDER BY
        WAITING_KEY ASC
    OFFSET
        #{offset} ROWS
    FETCH NEXT
        4 ROWS ONLY

    </select>

    <select id="getTotal" resultType="int" parameterType="int">
        SELECT
            COUNT(*) tocnt
        FROM
            WAITING W
            JOIN PATIENT P ON W.PATIENT_ID = P.PATIENT_ID
            JOIN DEPARTMENT D ON W.DEPARTMENT_ID = D.DEPARTMENT_ID
        WHERE
            DATE(waiting_date) = CURDATE()
        AND
            WAITING_STATUS != 2
        AND
            WAITING_STATUS != 5
        AND
            w.DEPARTMENT_ID = #{departmentId}
    </select>

    <select id="getEndCount" resultType="int" parameterType="int">
        SELECT
            COUNT(*) tocnt
        FROM
            WAITING
        WHERE
            DATE(WAITING_DATE) = CURDATE()
        AND
            WAITING_STATUS = 2
        AND
            DEPARTMENT_ID = #{departmentId}
    </select>

    <select id="getLastWaitingId" resultType="int">
        SELECT
            IFNULL(MAX(WAITING_ID), 0)
        FROM
            WAITING
    </select>

    <select id="getLastWaitingKey" resultType="String">
        SELECT COALESCE(
            (SELECT waiting_key
            FROM waiting
            WHERE DATE(waiting_date) = CURDATE()
            ORDER BY CAST(SUBSTRING_INDEX(waiting_key, 'T', -1) AS UNSIGNED) DESC
            LIMIT 1), '0'
        ) AS last_waiting_key;
    </select>

    <insert id="addWaiting" parameterType="com.geomin.demo.dto.WaitingDTO">
        INSERT INTO WAITING
            (WAITING_ID , PATIENT_ID, WAITING_KEY,
             WAITING_DATE , WAITING_TYPE, DEPARTMENT_ID , RECEPTIONIST)
        VALUES
            (#{lastWaitingId} + 1 , #{patientId} , #{waitingKey},
             now(), #{waitingType} , #{departmentId} , #{receptionist})
    </insert>

    <update id="updateWaitingStatus" parameterType="com.geomin.demo.domain.WaitingVO">
        UPDATE
            WAITING
        SET
            WAITING_STATUS = #{waitingStatus}
        WHERE
            WAITING_ID = #{waitingId}
    </update>

    <update id="updateWaitingType" parameterType="com.geomin.demo.domain.WaitingVO">
        UPDATE
            WAITING
        SET
            WAITING_TYPE = #{waitingType}
        WHERE
            WAITING_ID = #{waitingId}
    </update>

    <select id="getWaitingByKey" resultType="com.geomin.demo.domain.WaitingVO">
        SELECT
            *
        FROM
            WAITING
        WHERE
            WAITING_KEY = #{newWaitingKey}
    </select>

    <select id="getWaitingById" resultMap="WaitingMap">
        SELECT
            *
        FROM
            WAITING
        WHERE
            WAITING_ID = #{waitingId}
    </select>

</mapper>